@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.img {
  width: 100%;
  height: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  background-image: url(./img/shutterstock_1724501341.jpg);
  height: 100vh; /* Esto crea un header que ocupa todo el alto de la pantalla */
  background-size: cover; /* Esto hace que la imagen de fondo cubra todo el header */
  position: relative; /* Esto permite posicionar el navbar respecto al header */
  color: #fff; /* Cambia el color del texto de los links a blanco */
  text-decoration: none ;
}
 a{
  text-decoration: none !important; /* Elimina el subrayado de los links */
  color: #050400; /* Cambia el color del texto de los links a dorado cuando se pasa el mouse por encima */
}
.navbar-image {
  content: "";
  position: fixed;
  top: 0; /* Cambia 'bottom' por 'top' */
  left: 0;
  right: 0px;
  top: -290px;
  width: 47%; /* Cambia '900px' por '100%' para que la imagen ocupe todo el ancho del navbar */
  height: 50%; /* Cambia '120px' por '100%' para que la imagen ocupe todo el alto del navbar */
  background-image: url("./img/navbar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  z-index: -1; /* Esto coloca la imagen debajo del navbar */
  opacity: 0.28;
  filter: blur(0.1px); /* Ajusta el valor para el efecto de desenfoque */
}

.navbar {
  /*     background-image: url("/img/navbar.png");
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 10px;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  color: #b62929;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.m {
  color: rgb(230, 88, 154) !important;
  font-weight: 1000;
  padding: 50px;
}

.navbar a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.8em;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar .menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text-box {
  position: absolute;
  left: 4.4%;
  bottom: 250px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.021);
  color: #fff;
  height: 54%;
  width: 750px; /* Este es un ancho fijo. Puedes ajustarlo a tu gusto. */
  max-width: 80%; /* Esto permitirá que la caja de texto se ajuste a pantallas más pequeñas */
}

.text-box h1 {
  font-size: 4.5em;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.text-box p {
  font-size: 1.2em;
}

.contact-icons {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  gap: 20px;
}
.title {
  font-size: 40px;
  color: rgb(230, 88, 154);
  font-weight: 1000;
  margin-bottom: 40px;
}
.text-box h1 {
  letter-spacing: 0.6em; /* Espaciado para PROMAKEUP */
  color: rgb(225, 249, 250);
}

.text-box .title {
  letter-spacing: 0.5em; /* Espaciado mayor para STUDIO */
}
.btn {
  color: rgb(15, 15, 15);
  background-color: rgb(230, 88, 154) !important;
  top: 3%;
  padding: 8px !important;
  position: relative;
}

@media (max-width: 2180px) {
  .navbar-image {
    width: 68%; /* Ajusta estos valores según sea necesario */
    height: 36%;
  }
}
/* Para pantallas de hasta 1900px de ancho */
@media (max-width: 1920px) {
  .navbar a {
    font-size: 1.5em;
  }
  .navbar-image {
    height: 34%;
  }
}

@media (max-width: 1502px) and (min-height: 1080px) {
  .navbar a {
    font-size: 1.5em;
  }
  .navbar-image {
    width: 80%;
    height: 52%;
  }
}

@media (max-width: 1501px) and (min-height: 1203px) {
  .navbar a {
    font-size: 1.5em;
  }
  .navbar-image {
    width: 80%;
    height: 32%;
  }
}
@media (max-width: 1200px) {
  .navbar a {
    font-size: 1.5em;
  }
  .navbar-image {
    width: 80%;
    height: 62%;
  }
}
@media (max-width: 1401px) and (min-height: 1202px) {
  /* Muestra el botón hamburguesa */
  .menu {
    padding: 25px 1px;
    font-size: 18px;
    font-weight: 650;
  }
  .navbar {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del navbar */
    justify-content: space-between; /* Alinea horizontalmente los elementos dentro del navbar */
  } /* Tus otros estilos aquí */

  .navbar-image {
    height: 41%;
    width: 98%;
  }
}
@media (max-width: 1300px) and (min-height: 1201px) {
  /* Muestra el botón hamburguesa */
  .menu {
    padding: 25px 1px;
    font-size: 18px;
    font-weight: 650;
  }

  .navbar-image {
    height: 31%;
    width: 98%;
  }
  .navbar {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del navbar */
    justify-content: space-between; /* Alinea horizontalmente los elementos dentro del navbar */
    /* Tus otros estilos aquí */
  }

  .navbar-image {
    flex: 1; /* Esto permite que la imagen se flexibilice junto con los otros elementos del navbar */
    height: 41%;
    width: 98%;
    background-image: url("./img/navbar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    /* Tus otros estilos aquí */
  }
  .navbar .menu {
    display: flex;
    gap: 6px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 645px) {
  
  .navbar-image {
    height: 65%;
    width: 98%;
  }
  #t2 {
    font-size: 25px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .text-box {
    font-size: 13px;
    padding: 1rem;
    font-weight: 300;
  }
  .title-h2 {
    font-size: 15px;
    padding: 0px;
  }
}
@media (max-width: 476px) {
  .text-box {
    top: 100px;
    font-size: 0.5rem;
    
  }
  .p{
    margin: 0rem;
  }
  .navbar-image {
    height: 75%;
    width: 100%;
  }
  .btn{
   top: -1.8rem;
   left: 8rem;
   padding: 0rem;
   position: relative;
  }
}
@media (max-width: 414px) {
  .text-box {
    top: 100px;
    font-size: 0.4rem;
    
  }
  .p{
    font-size: 0.4rem;
    margin: 0rem;
  }
  .navbar-image {
    height: 75%;
    width: 100% ;
  }
  .btn{
   top: 0.8rem;
   left: 8rem;
   padding: 0rem;
   position: relative;
  }
  .navbar{
    width: 100% !important;
  }
}


@media (max-width: 1580px) {
  .navbar{
    width: 100% !important;
  }
}



.p {
  font-size: 20px !important;
}
@media (max-width: 2500px) and (min-height: 850px) {
  .navbar-image {
    height: 42%;
    width: 98%;
  }
}
@media (max-width: 1350px) and (min-height: 768px) {
  .navbar-image {
    height: 48% ;
    width: 90% ;
  }
}

@media (max-width: 1000px) and (min-height: 700px) {
  .navbar-image {
    height: 35% ;
    width: 80% ;
  }
  .navbar{
    font-size: 0.7rem;
  }
}
@media (max-width: 2000px) and (min-height: 1000px) {
  .navbar-image {
    height: 35% ;
    width: 90% ;
  }
}
@media (max-width: 1200px) and (min-height: 1200px) {
  /* Muestra el botón hamburguesa */
  .menu {
    padding: 5px;
    font-size: 13px;
    font-weight: 350;
  }
  .navbar {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos dentro del navbar */
    justify-content: space-between; /* Alinea horizontalmente los elementos dentro del navbar */
    /* Tus otros estilos aquí */
  }

  .navbar-image {
    flex: 1; /* Esto permite que la imagen se flexibilice junto con los otros elementos del navbar */
    height: 40%;
    width: 100%;
    background-image: url("./img/navbar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    /* Tus otros estilos aquí */
  }
  .navbar .menu {
    height: 4.6rem;
    display: flex;
    gap: 6px;
    display: flex;
    align-items: center;
  }
}

.navbar {
  width: 82.1%;
  background: rgba(247, 182, 6, 0);
  background: linear-gradient(
    90deg,
    rgba(46, 3, 39, 0.993) 0%,
    rgba(255, 182, 242, 1) 35%,
    rgba(250, 208, 118, 0.747) 79%,
    rgba(211, 165, 65, 0.904) 1000%
  );
}