.text-box,
.text-box h1,
.text-box .title {
  position: absolute;
  left: 4.4%;
  bottom: 250px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.021);
  color: #fff;
  height: 54%;
  width: 750px;
  max-width: 80%;
  font-size: 4.5em;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.6em;
  color: rgb(225, 249, 250);
}

.text-box p {
  font-size: 1.2em;
}

.contact-icons,
.icono {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.title {
  font-size: 40px;
  color: rgb(230, 88, 154);
  font-weight: 1000;
  margin-bottom: 40px;
}

.btn {
  color: rgb(15, 15, 15);
  background-color: rgb(230, 88, 154) !important;
  top: 3%;
  padding: 8px !important;
  position: relative;
}

.p {
  font-size: 20px !important;
}

.icono img {
  width: 50px;
  height: auto;
}

.icono {
  margin-right: 5px !important;
}
footer {
  background-color: #333; /* o el color que desees */
  padding: 20px 0; /* esto hace que el pie de página sea "angosto" */
  text-align: center; /* esto centra los iconos */
}

.footer-icons a {
  margin: 0 10px; /* esto agrega un pequeño espacio entre los iconos */
}

.footer-icons img {
  width: 30px; /* ajusta esto al tamaño deseado para los iconos */
  height: auto;
}
